.App {

}

.tags {
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
   display: inline-block;
   background: #ffa;
   margin: 0 .5em;
   padding: 2px 8px;
   border-radius: 2px;
  }
 }
}


.MuiAutocomplete-noOptions {
 display: none !important;
}
